h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bodyform{
  display: flex;
  width:100%;
}
.part{
  width: 50%;
  height: 100vh;
  padding:2rem;
}
.contactform{
  width: 50%;
  height: 100vh;
  background-color: rgb(231, 165, 41);
  margin-top: 22px;
  margin-bottom: 32px;
  margin-left: 22px;
  margin-right: 22px;
  padding-left: 150px;
  
}
.contactform input{
  font-size: 15px;
  
}
.unit{
  padding-left: 95px;
  background-color:rgb(206, 143, 27);
  border:1px solid rgb(219, 161, 51);
  color:black;
  
}
.contactform label{
  font-size: 15px;
  margin-top: 16px;
  font: 1em sans-serif;
}
h1{
  justify-content: center;
  padding-left: 5px;
  font-size: 45px;
  padding-top: -25px;
}

 h3{
  justify-content: center;
  padding-left: 45px;
}
.academy{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
  margin-bottom: 32px;
  margin-left: 22px;
  margin-right: 22px;

}

button{
  width: 70%;
  color:aliceblue;
  background-color: blue;
  padding: 12px;
  margin-top: 12px;
  border:1px solid blue;
}

form label{
display: flex;
flex-direction: column;
}

form input{
width: 70%;
padding:12px;
}

input{
width: 70%;
padding:12px;
}

.loggin_infos{
  display: flex;
  justify-content: space-around;
  margin: -0.2rem auto;
}

.check{
  display:flex;
  justify-content: space-around;
  margin: 2rem auto
}
p{
  margin-left: 55px;
}




